#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=theBeat
GenericName=Audio Player
Exec=thebeat
Icon=thebeat
MimeType=audio/mp3;audio/mpeg;audio/mpeg3;audio/wav;audio/ogg;audio/mp4;video/avi;video/msvideo;video/mpeg;video/quicktime;video/x-ms-wmv;
